.box {
    border: 3px solid black;
    position: absolute;
    background: white;
}
#div1 {
    z-index: 1;
    width: 200px;
    height: 200px;
}
#div2 {
    z-index: 2;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 120px;
}
#div3 {
    z-index: 3;
    width: 500px;
    height: 200px;
    top:300px
}
#div4 {
    z-index: 4;
    width: 80px;
    height: 500px;
    left: 400px;

}