/* since the inner box position is absolute, the parent element position 
    must be relative in order to be able to move the inner box relative to
    the outer box, so we need to change the outer box position to relative
    */
#outer {
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;
    position: relative;
}
#inner {
    width: 50px;
    height: 50px;
    background: lightgreen;
    position: absolute;
    top: 10px;
}
