.box {
    width: 400px;
    height: 400px;
    position: relative;
    background: red;
}

.box::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    background: purple;
    transition: 1s;
}

.box:hover::after {
    left: 0;
    background:teal;
}



