
.container {
    display: flex;
    /* flex-direction: row-reverse; */
    margin: auto;
    align-items: flex-start;
    justify-content: flex-end;
}

.parent {
    width: 800px;
    height: 400px;
    position: relative;
    background: red;
}

.parent .box {
    width: 50%;
    height: 100%;
    background: purple;
}



