.parent {
    width: 800px;
    height: 800px;
    background: red;
    position: relative;
}

.parent div:first-child {
    position: absolute;
    width: 50%;
    height: 100%;
    background: purple;
}

.parent:hover div:first-child {
    background: darkblue;
}


