.box {
    width: 800px;
    height: 800px;
    background: red;
    position: relative;
}

.box::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: purple; 
}

.box:hover::after {
    background: seagreen;
}